.suo
/WindowsFormsApplication2/AllamvizsgaKliens1.0.v12.suo
/WindowsFormsApplication2/WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.exe
/WindowsFormsApplication2/WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.pdb
/WindowsFormsApplication2/WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.vshost.exe
/WindowsFormsApplication2/WindowsFormsApplication2/obj/Debug/Allamvizsga.csproj.FileListAbsolute.txt
/WindowsFormsApplication2/WindowsFormsApplication2/obj/Debug/Allamvizsga.csproj.GenerateResource.Cache
/WindowsFormsApplication2/WindowsFormsApplication2/obj/Debug/Allamvizsga.csprojResolveAssemblyReference.cache
/WindowsFormsApplication2/WindowsFormsApplication2/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WindowsFormsApplication2/WindowsFormsApplication2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WindowsFormsApplication2/WindowsFormsApplication2/obj/Debug/WindowsFormsApplication2.exe
/WindowsFormsApplication2/WindowsFormsApplication2/obj/Debug/WindowsFormsApplication2.pdb
/WindowsFormsApplication2/WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.exe
/WindowsFormsApplication2/WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.exe
