.suo
/WindowsFormsApplication2/AllamvizsgaKliens1.0.v12.suo
/WindowsFormsApplication2/WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.exe
/WindowsFormsApplication2/WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.pdb
/WindowsFormsApplication2/WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.vshost.exe
/WindowsFormsApplication2/WindowsFormsApplication2/obj/Debug/Allamvizsga.csproj.FileListAbsolute.txt
/WindowsFormsApplication2/WindowsFormsApplication2/obj/Debug/Allamvizsga.csproj.GenerateResource.Cache
/WindowsFormsApplication2/WindowsFormsApplication2/obj/Debug/Allamvizsga.csprojResolveAssemblyReference.cache
/WindowsFormsApplication2/WindowsFormsApplication2/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WindowsFormsApplication2/WindowsFormsApplication2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WindowsFormsApplication2/WindowsFormsApplication2/obj/Debug/WindowsFormsApplication2.exe
/WindowsFormsApplication2/WindowsFormsApplication2/obj/Debug/WindowsFormsApplication2.pdb
/WindowsFormsApplication2/WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.exe
/WindowsFormsApplication2/WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.exe

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
